.like {
  min-height: 14px;
  min-width: 17px;
  border: none;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-image: url(../img/icon-heart.png);
  display: inline-block;
}

.like--select {
  min-height: 14px;
  min-width: 17px;
  border: none;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-image: url(../img/icon-heart.png);
  display: inline-block;
}
